* {
    all: unset;
    font-family: "JetBrains Mono";
}

.panel {
    background: rgba(8, 8, 10, 0.82);
    color: #eeeeee;

    padding: 10px 8px 9px 8px;

    border: 1px solid #ffffff;
}

.panel-title {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;

    margin-bottom: 3px;
}

.section {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;

    margin-top: 5px;
    margin-bottom: 1px;
}

.separator {
    font-size: 8px;
    color: rgba(255, 255, 255, 0.45);

    margin-top: -1px;
    margin-bottom: 2px;
}

.row {
    min-height: 13px;
}

.key {
    min-width: 55px;
    font-size: 9px;
    color: #999999;
}

.value {
    font-size: 9px;
    color: #eeeeee;
}

.processes {
    font-size: 8px;
    color: #cccccc;

    margin-top: 1px;
    margin-bottom: 1px;
}

.cava-panel {
    background: rgba(8, 8, 10, 0.82);
    color: #eeeeee;

    padding: 8px;

    border: 1px solid #ffffff;
}

.cava-title {
    font-size: 9px;
    color: #999999;

    margin-bottom: 5px;
}

.cava-bars {
    font-family: "JetBrains Mono";
    font-size: 14px;

    color: #eeeeee;

    letter-spacing: 1px;
}
